* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: RalewayRegular;
}
@font-face {
    font-family: "RalewayRegular"; 
    src: url("../fonts/Sansation_Light.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 

h1 {
    font-size: 51px;
    margin-bottom: 5px;
}
h2 {
    margin-bottom: 15px;
    font-size: 29px;
}
.bgblur {
    position: absolute;
    width: 100%;
    height: 100%;
    background: bottom / contain no-repeat url(../images/figure.png);
    filter: blur(2px);
    transition: 500ms;
}
header {
    overflow: hidden;
    position: relative;
    height: 100vh;
    /* background: bottom / auto no-repeat url(../images/figure.png); */
}
.site-link {
    padding: 44px;
    text-align: center;
    background: #3C3838;
}
.site-link a {
    position: relative;
    letter-spacing: 0.205em;
    color:white;
    font-size: 109px;
    font-family: 'Saira Stencil One', cursive;
}
.container {
    height: 100%;
    padding: 11% 7%;
}
img {    filter: blur(3px);
    transition: 800ms;
    position: absolute;
}

.site-link:hover ~ .img-paral:nth-child(4) img {
    filter: unset;
       animation: unset;
       transform: rotate(27deg) scale(1.5);
       margin-top: unset;
       margin-left: 50%;
    
}
.site-link:hover ~ .img-paral:nth-child(5) img {
    filter: unset;
    animation: unset;
       transform: rotate(-23deg) scale(1.5);
       margin-left: 35%;
    margin-top: 0%;
    }
.site-link:hover ~ .img-paral {
    z-index: -1000 ;
}
@keyframes move {
	0% {
		transform: rotate(-25deg)
	}
	100% {
		transform: rotate(25deg)
	}
}
.img-paral:nth-child(4) img {
    animation: 4s move infinite alternate linear;
    margin-top: -11%;
    margin-left: -5%;
}


.img-paral:nth-child(5) img {
    margin-left: 78%;
    margin-top: -29%;
    animation: 4s move infinite alternate-reverse linear;

}
.layer {
    position: relative !important;
}


.glitch {
    color: white;
    font-size: 100px;
    position: relative;
    width: 400px;
    margin: 0 auto;
  }
  
  @keyframes noise-anim {
    0% {
      clip: rect(28px, 9999px, 59px, 0);
    }
    5% {
      clip: rect(32px, 9999px, 79px, 0);
    }
    10% {
      clip: rect(71px, 9999px, 60px, 0);
    }
    15% {
      clip: rect(73px, 9999px, 69px, 0);
    }
    20% {
      clip: rect(53px, 9999px, 67px, 0);
    }
    25% {
      clip: rect(89px, 9999px, 65px, 0);
    }
    30% {
      clip: rect(71px, 9999px, 86px, 0);
    }
    35% {
      clip: rect(99px, 9999px, 84px, 0);
    }
    40% {
      clip: rect(61px, 9999px, 58px, 0);
    }
    45% {
      clip: rect(58px, 9999px, 84px, 0);
    }
    50% {
      clip: rect(74px, 9999px, 2px, 0);
    }
    55% {
      clip: rect(72px, 9999px, 64px, 0);
    }
    60% {
      clip: rect(47px, 9999px, 98px, 0);
    }
    65% {
      clip: rect(54px, 9999px, 13px, 0);
    }
    70% {
      clip: rect(9px, 9999px, 92px, 0);
    }
    75% {
      clip: rect(39px, 9999px, 93px, 0);
    }
    80% {
      clip: rect(66px, 9999px, 47px, 0);
    }
    85% {
      clip: rect(7px, 9999px, 93px, 0);
    }
    90% {
      clip: rect(64px, 9999px, 19px, 0);
    }
    95% {
      clip: rect(77px, 9999px, 46px, 0);
    }
    100% {
      clip: rect(23px, 9999px, 80px, 0);
    }
  }

  
  @keyframes noise-anim-2 {
    0% {
      clip: rect(80px, 9999px, 85px, 0);
    }
    5% {
      clip: rect(69px, 9999px, 96px, 0);
    }
    10% {
      clip: rect(16px, 9999px, 75px, 0);
    }
    15% {
      clip: rect(18px, 9999px, 94px, 0);
    }
    20% {
      clip: rect(6px, 9999px, 44px, 0);
    }
    25% {
      clip: rect(85px, 9999px, 97px, 0);
    }
    30% {
      clip: rect(13px, 9999px, 11px, 0);
    }
    35% {
      clip: rect(5px, 9999px, 47px, 0);
    }
    40% {
      clip: rect(44px, 9999px, 95px, 0);
    }
    45% {
      clip: rect(52px, 9999px, 50px, 0);
    }
    50% {
      clip: rect(81px, 9999px, 60px, 0);
    }
    55% {
      clip: rect(8px, 9999px, 56px, 0);
    }
    60% {
      clip: rect(92px, 9999px, 35px, 0);
    }
    65% {
      clip: rect(78px, 9999px, 46px, 0);
    }
    70% {
      clip: rect(32px, 9999px, 8px, 0);
    }
    75% {
      clip: rect(95px, 9999px, 96px, 0);
    }
    80% {
      clip: rect(17px, 9999px, 55px, 0);
    }
    85% {
      clip: rect(36px, 9999px, 60px, 0);
    }
    90% {
      clip: rect(99px, 9999px, 98px, 0);
    }
    95% {
      clip: rect(85px, 9999px, 23px, 0);
    }
    100% {
      clip: rect(22px, 9999px, 36px, 0);
    }
  }
  .site-link a:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: white;
    background: #3c3838;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
  }
  .site-link a:hover:before {
    animation: noise-anim-2 3s infinite linear alternate-reverse;

  }
  .site-link a:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 red;
    top: 0;
    color: white;
    background: #3c3838;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
  }
  .site-link a:hover:after {
    animation: noise-anim 2s infinite linear alternate-reverse;

  }