* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* body,html{
    cursor: default;
    overflow: hidden !important;
} */
a {    
    color:white;
    font-size: 22px;
}
h1 {
    font-size: 72px;
}
h2 {
    font-size: 54px;
}
h3 {
    font-size: 45px;
    font-weight: 300;
}
h4 {
    font-size: 39px;
    font-weight: 300;
}

p {
    font-weight: 300;
    font-size: 35px;
}
 section {
color:white;

} 
.container {
    padding: 30px 35px 0px 10px;
    max-width: 1450px;
    margin: 0 auto;
}
.mouse-parallax {
    width: 104%;
    height: 115.6%;
    background: center / cover no-repeat url(..//images/bg.jpg);
    transition: all 0.1s ease;  
    position: relative;
}
.header {
    position: relative;
}
.fixed {
    width: 100%;
    position: absolute;
    top: 0;
}
.logo-box {
    font-family: 'Rationale', sans-serif;
    font-size: 50px;
}
.logo-box span {
    font-family: 'Rationale', sans-serif;
}
 span {
    color:#FFA800;
}
.jc-sb {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.navbar-links svg {
    position: relative;
    fill:white;
    transition: 500ms;
}
.navbar-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0px 16px;
    z-index: 100000000;
}
.navbar-links a:before {
    border-radius: 50%;
    content:'';
    position: absolute;
    width: 50px;
    height: 50px;
    background: #00A3FF;
    transition: 600ms;
}
.phone {
    margin-right: 27px;
}
.navbar-content {
    margin-right: 45px;
}
.navbar-links a:hover:before {
transform: scale(0);
}
.navbar-links a:hover svg {
  transform: scale(1.6);
}
.hamburger {
    cursor: pointer;
    display: flex;
    top: 41px;
    right: 25px;
    z-index: 1;
    position: fixed;
    flex-flow: column;
    align-items: flex-end;
    }
.hamburger span {
    width: 50px;
    height: 3px;
    background: white;
    display: block;
    margin: 5px 0px;
}
.hamburger span:nth-child(2) {
    width: 40px;
}
.hamburger span:nth-child(3) {
    width: 32px;
}
.main-title {
    margin-top: 190px;
}
.main-title h1:nth-child(2) {
    font-weight: 400;
}
.main-title h1:nth-child(2) span {
    color: #00A3FF;
}
.bottom-nav {
    text-align: center;
    margin-top: 10%;
    animation: 3s down infinite ;
}
@keyframes down {
    40% {
        transform: translateY(20px);
        opacity: 0.5;
    }    
}
.skills {
    background: center / cover no-repeat url(..//images/bg2.jpg);
}
.skills h1 {
    color: #8F00FF;
    margin-bottom: 21px;
}
.sk-left-box  h3{
font-weight: bold;
}
.p-left {
    margin-top: 20px;
    text-align: left;
}
.sk-left-box h4 {
    margin-top: 15px;
}
.sk-left-box {
    width: 441px;
    background: linear-gradient(286.22deg, #737693 -7.23%, rgba(65, 69, 105, 0.526042) 51.72%, rgba(255, 255, 255, 0) 92.34%), #422CCB;
    box-shadow: 0px 4px 100px #422CCB;
    border-radius: 26px;
    text-align: center;
    padding: 16px 44px 33px;
}
.progress-bar {
    margin-top: 13px;
    width: 100%;
    height: 18px;
    background: rgba(216, 211, 211, 0.54);    
    border-radius: 36px;
}
.progress-bar div {
    background: linear-gradient(271.25deg, #FFFFFF -32.16%, rgba(255, 255, 255, 0) 102.97%), #FFA800;
border-radius: 36px;
width: 84%;
height: 100%;
}
.sk-left-box:nth-child(2) {
    background: linear-gradient(280.04deg, #CDAC38 -7.23%, #F23F3F 92.34%);
    box-shadow: 0px 4px 100px #AA1035;
    margin-top: 31px;
}
.flex {
    flex-flow:wrap;
    display: flex;
}
.sk-right {
    width: 100%;
    margin-left: 60px;
    position: relative;
}
.sk-right:before {
    position: absolute;
    content: '';
    background: center / contain no-repeat url(..//images/line1.png);
    width: 92px;
    height: 189px;
    top: 153px;
}
.sk-right:after {
    left: 75px;
    position: absolute;
    content: '';
    background: center / contain no-repeat url(..//images/line2.png);
    width: 120px;
    height: 182px;
    top: 351px;
}
.sk-right-box{
    margin-left: 20px;
    margin-top: 19px;
}
.hover-card.card-rounded.mouse-out {
    transform: rotateX(0) rotateY(0) !important;
    transition: 0.8s ease-out;
  }
.number {
    width: 80px;
    height: 80px;
    font-size: 43px;
    font-weight: bold;
    background: #505050;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 13px;
}
.sk-right .sk-right-box:nth-child(3) {
    margin-left: 15%;
}
.sk-right .sk-right-box:nth-child(4) {
    margin-left: 28%;
}
.portfolio {
    background: center / cover no-repeat url(..//images/bg3.jpg);
}
.portfolio span {
    color: #FF8484;
    margin-bottom: -20px;
    display: block;
}
.portfolio small {
    font-weight: 300;
}
.bg-frame {
    width: 50%;
    overflow: hidden;
}
.bg-frame img {
    width: 100%;
}
.phone-frame {
    margin-left: 70px;
    margin-top: 15px;

    width: 16%;
  
}
.phone-frame img {
    width: 100%;
}
.btn {
    margin-top: auto;
    margin-bottom: 38px;
}
.btn a {
    color: #FF8484;
    font-weight: 900;
    padding: 15px 20px;
    border: 4px solid #FF8484;
    margin-left: 50px;
    transition: 500ms;
    position: relative;
    z-index: 1;
}
.btn a:hover {
    color: white;
}
.btn a:before {
    transition: 500ms;
    content: '';
    background: #FF8484;
    position: absolute;
    height: 100%;
    width: 0;
    left: 0;
    top: 0;
    z-index: -1;
}
.btn a:hover:before {
    width: 100%;
}
.price {
    background: center / cover no-repeat url(../images/price-bg.jpg);
}
.price h1:nth-child(1) {
    color: #FFD600;
    margin-bottom: -20px;
}
.price-box {
    width: 41%;
    border-radius: 23px;
    background: #6774EA;
    padding: 23px 44px;
    margin: 20px;
    padding: 16px 37px;
    position: relative;
    transition: 500ms;
}
.price-box:hover {
    box-shadow: 0px 4px 100px #FFFFFF;
}
.price-box svg {
    top: 5px;
    right: 0;;
    position: absolute;
}
.price-box h2 {
    position: relative;
    font-weight: 400;
}
.price-box a {
    position: relative;
    width: fit-content;
    margin-left: auto;
    color: white;
    font-size: 22px;
    display: block;
    text-decoration: underline;
}
.price-box:nth-child(2) {
    background: #73637D;
}
.price-box:nth-child(3) {
    background: #C68080;
}
.price-box p {
    position: relative;
    margin-top: 17px;
    margin-bottom: 30px;
}
.price-content.jc-sb {
    align-items: unset;
    justify-content: center;
}
.price-box:nth-child(3) {
    margin: 0;
    margin-top: 20px;
}
.contact {
    position: relative;
    background: center / cover no-repeat url(../images/contact-bg.jpg);
}
.contact-panel {
    bottom: 150px;
    transform: rotate(-90deg);
    position: absolute;
    margin-left: -41px;
}
.contact h1 {
    color: #6BC1FF;
}
.contact-panel .phone {
    margin-right:unset;
    display: inline-block;
    margin-bottom: 25px;
}
.form-title {
    font-weight: 900;
    font-size: 48px;
    margin: 0 auto;
    width: fit-content;
    margin-top: 6%;
}
::placeholder {
    font-size: 25px;
    color: white;
}
::-webkit-input-placeholder {
    font-size: 25px;
    color: white;
}
.main-form {
    max-width: 690px;
    margin: 75px auto 0px;
}
.main-form input {
    font-size: 30px;
    color: white;
    outline: none;
    background: none;
    border: none;
    width: 40%;
    border-bottom: 6px solid #6BC1FF;
}
.main-form input:nth-of-type(1) {
    margin-right: 17%;
}
.main-form textarea {
    margin-top: 35px;
    max-width: 97%;
    resize: none;
    font-size: 30px;
    color: white;
    outline: none;
    background: none;
    border: none;
    border-bottom: 6px solid #6BC1FF;
}
input[type="submit"] {
    border: 1px solid #6BC1FF;
    color: #6BC1FF;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 31px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: fit-content;
    cursor: pointer;
    margin-top: 45px;
    transition: 500ms;
}
input[type="submit"]:hover {
    background-color: #6BC1FF;
    color:white;
}