@media screen and (max-width: 1600px) {
    .specials h1 {
        font-size: 57px;
    }
    .navigation-links a {
        font-size: 16px;
    }
    .navigation-social svg {
        width: 24px;
        height: 24px;
    }
    .navigation-social a {
        padding: 13px 14px;
    }
    .navigation-buttons a {
        font-size: 16px;
        padding: 10px 26px;
    }
    .navigation-buttons img {
        width: 21px;
        height: 26px;
    }
    .specials p {
        font-size: 21px;
    }
    .navigation-buttons a:nth-child(2) {
        margin-top: 17px;
    }
    .logo img {
        width: 95px;
        height: 95px;
    }
    .logo h3 {
        font-size: 29px;
    }
    .header-title h1 {
        font-size: 48px;
    }
    .header-title p {
        font-size: 21px;
        margin: 24px 0px 60px;
    }
    .header-title p:nth-child(1) {
        margin-right: 82px;
    }
    .btn {
        font-size: 16px;
        padding: 21px 33px;
    }
    .container {
        max-width: 1102px;
    }
    .programs-box {
        padding: 32px 31px 0px 31px;
        /* max-height: 200px;  default*/
        max-height: 191px;
    }
    .programs-box:nth-child(4) {
        max-height: 294px;
    }
    .programs-box h3 {
        font-size: 25px;
    }
    .programs-box p:nth-child(2) {
        margin: 14px 0px;
    }
    .programs-box p {
        font-size: 16px;
    }
    .prog-btn {
        width: 161px;
        height: 49px;
        margin-left: -31px;
    }
    .programs-box:nth-child(4) .prog-btn {
        margin-top: auto;
    }
    .programs-box:nth-child(4).open {
        max-height: 500px;
    }
    .trainer-box-img {
        height: 302px;
    }
    .trainer-box-img h2 {
        font-size: 24px;
    }
    .trainer-box-p h3 {
        font-size: 18.72px;
        margin-top: 16px;
        padding-bottom: 7px;
    }
    .trainer-box-p p {
        font-size: 16px;
    }
    .trainer-box-p {
        padding: 0px 17px;
    }
    .trainer-box-p p:nth-child(2) {
        padding-bottom: 13px;
    }
    .trainer-box-btn {
        font-size: 16px;
        margin-top: 24px;
        padding: 12px 0px;
    }
    .default-title h1 {
        font-size: 57px;
    }
    .default-title h2 {
        margin-top: 5px;
        font-size: 33px;
    }
    .about-box-number {
        font-size: 74px;
        margin-right: 20px;
    }
    .about-box p {
        font-size: 21px;
    }
    .video-content iframe {
        height: 315px;
    }
    .swiper-pagination-bullet {
        width: 12px !important;
        height: 13px !important;
    }
    :root {
        --swiper-navigation-size: 23px !important;
    }
    .slider-navigation {
        margin-top: 20px;
    }
    .swiper-pagination-clickable .swiper-pagination-bullet {
        margin: 0px 4px;
    }
    .swiper-button-next1, .swiper-button-prev2 {
        width: 23px;
    }
    .adva-box-img img {
        width: 37px;
        height: 37px;
    }
    .adva-box-img {
        margin: 0px auto 18px;
        width: 77px;
        height: 77px;
    }
    .adva-box p {
        font-size: 21px;
    }
    .news-box small {
        font-size: 16px;
    }
    .news-box p {
        font-size: 18px;
    }
    .news-box h3 {
        font-size: 18.72px;
        margin: 10px 0px 12px;
    }
    .reviews-box-img img {
        width: 135px;
        height: 125px;
    }
    .reviews-box h3 {
        font-size: 29px;
        margin-bottom: 16px;
        margin-top: -60px;
    }
    .reviews-box p {
        font-size: 16px;
    }
    section {
        padding: 52px 0px;
    }
    .trainer-modal h3 {
        font-size: 27px;
    }
    .trainer-modal h1 {
        font-size: 60px;
    }
    .trainer-modal h2 {
        font-size: 24px;
    }
    .trainer-modal ul {
        font-size: 16px;
    }
    .trainer-modal img {
        -webkit-transform: unset;
            -ms-transform: unset;
                transform: unset;
    }
    .addresses-content iframe {
        height: 415px;
    }
    .spec-numb {
        font-size: 43px;
    }
    .spec-box {
        padding: 30px 15px 30px 30px;
    }
    .spec-box h1 {
        font-size: 33px;
    }
}

@media screen and (max-width: 1366px) {
    .navigation.jc-sb{
        gap: unset;
    }
    .navigation-social svg {
        width: 20px;
        height: 20px;
    }
    .logo img {
        width: 94px;
        height: 94px;
    }
    .navigation-links a {
        font-size: 14px;
    }

    .logo h3 {
        font-size: 24px;
    }
    .navigation-buttons a {
        font-size: 14px;    
        padding: 5px 19px;

    }

    .navigation-buttons a:nth-child(2) {
        margin-top: 14px;
    }  
    .navigation-social a {
        padding: 8px 8px;
    }
    .container {
        padding: 0px 15px;
    }
 
    .header-title p {
        font-size: 17px;
    }
    header:before {
        height: 68%;
    }
    .logo {
        padding: 15px 0;
    }
    .specials .swiper-slide {
        height: auto !important;
    }
    .trainer-content {
        margin-top: 113px;
    }
    .prog-btn {
        margin-top: unset;
    }
    .programs-box-hidden {
        margin-bottom: 15px;
    }
    .programs-box:nth-child(4) .prog-btn {
        margin-top: auto;
    }
    .programs-box p:nth-child(3) {
        margin-bottom: 15px;
    }
    .programs-box-hidden {
        margin-top: unset;
    }
    .trainer-modal ul {
        width: 34%;
    }
    .trainer-modal-content p br {
        display: none;
    }
    .trainer-modal img {
        bottom: 0;
    }
    .trainer-modal-1 img {
        bottom: unset;
    }
    .trainer-modal {
        width: 97%;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
    }
    .addresses-content iframe {
        height: 360px;
    }
    .adr-btn {
        margin-top: 15px;
    }
    .spec-box h1 {
        font-size: 33px;
    }
    .specials p {
        font-size: 21px ;
    }
    .spec-numb {
        font-size: 35px;
    }
    .spec-box:before {
        content: '';
        color: #38492A;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: -38%;
        right: -11%;
        width: 45%;
        height: 79%;
        background: #73ED77;
        border-radius: 72%;
    }
    .programs-box:nth-child(4).open {
        max-height: 500px;
    }
}
@media screen and (max-width: 1280px) and (max-height: 620px) {
        .navigation-links {
            margin-top: unset;
        }

        .programs-box:nth-child(4) {
            max-height: 197px;
        }
        .prog-btn {
            margin-top: auto;
        }
        .programs-box:nth-child(4).open {
            max-height: 600px;
        }
      
}
@media screen and (max-width: 1280px) {
    .adva-box {
        width: 31%;
    }
    .programs-box {
        width: 48%;
    }
    header:before {
        height: 67%;
    }
}
@media screen and (max-width: 1258px) {
    .logo h3 {
        font-size: 20px;
    }
    .navigation-buttons img {
        margin-right: 8px;
    }
    .navigation-social {
        -webkit-column-gap: 8px;
           -moz-column-gap: 8px;
                column-gap: 8px;
    }
}
@media screen and (max-width: 1182px) {
    .navigation .navigation-social {
        display: none;
    }
    .spec-box {
        width: 100%;
    }
}
@media screen and (max-width: 1024px) {
    .background,
    header {
        margin-left: unset;
    }
    .navigation {
        display: none;
    }
 
}
@media screen and (max-width: 500px) {
    .header-title br {
        display: block;
    }
    .programs-box-hidden {
        margin-top: 15px;
    } 
    .programs-box p:nth-child(3) {
        margin-bottom: unset;
    }
    .navigation {
        position: unset;
        background: unset;
        width: 100%;
        height: unset;
    z-index: 10000;
    display: block;
    }
    .logo {
        padding: 2.3vh 15px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .logo div {
        margin-left: 15px;
        text-align: left;
    }
    .navigation-links,
    .navigation-social,
    .navigation-buttons {
        display: none;
    } 
    .prog-btn {
        margin-top: 15px;
    }
    .programs-box-hidden {
        margin-bottom: unset;
    }
    .programs-box,
    .about-box {
     width: 100%;
    }
    .programs-box {
        max-height: 339px;
    }
    .specials {
        padding: 30px 20px;
    }
    .specials p {
        font-size: 14px;
    }
    .specials .default-title h1 {
        margin-bottom: 10px;
        font-size: 41px;
    }
    .specials .swiper-slide {
        padding: 20px;
    }
    .specials-navigation {
        position: unset;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .swiper-slide {
        height: 100% !important;
    }
    /* .trainer .slider-navigation {
        display: none;
    } */
    .trainer-box-img img {
        width: 65%;
    }
    .header-title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column wrap;
                flex-flow: column wrap;
        padding-bottom: 110px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .header-title p:nth-child(1) {
        margin-right: unset;
    }
    .header-title h1 {
        font-size: 33px;
    }
    .btn {
        width: 100%;
        margin-bottom: unset;
        margin-top: 20px;
        text-align: center;
        padding: 21px 0px;
        font-size: 14px;
    }
    .header-title p {
        font-size: 16px;
        margin: 24px 0px 15px;
        width: 100%;
    }
    header .flex {
        -ms-flex-flow: wrap;
            flex-flow: wrap;
    }
    header:before {
        height: 78%;
        width: 100%;
    }
    .default-title h1 {
        font-size: 41px;
    }
    .default-title h2 {
        font-size: 22px;
    }
    header {
        overflow: hidden;
        height: 83vh;
            -webkit-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
    }
    section {
            -webkit-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
    }
    .adva-box p {
        font-size: 15px;
    }
    .adva-content.jc-sb {
        gap: unset;
        row-gap: 50px;
    }
    .adva-box {        
        width: 50%;
    }
    .adva-content {
        margin-top: 52px;
    }
    .about-box p {
        font-size: 16px;
    }
    .about-box-number {
        font-size: 63px;
    }
    .reviews-box-img img {
        width: 105px;
        height: 95px;
    }
    .reviews-box h3 {
        margin-top: -44px;
    }
    .reviews .container {
        padding: 0px 5px;
    }
    .news-box:nth-child(1) {
        height: 450px;
    }.hamburger
    .video-content iframe {
        height: 250px;
    }
    .hamburger {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .background {
        overflow: hidden;
        background: center / 220% 100%  radial-gradient(55.91% 12.62% at 68.33% 100%, #FFFFFF 0%, #39927C 0.01%, rgba(130, 170, 160, 0) 34.78%), radial-gradient(28.5% 7.51% at 0% 84.6%, rgba(255, 255, 255, 0.26) 18.71%, rgba(255, 255, 255, 0) 100%), radial-gradient(44.64% 10.74% at 27.01% 58.01%, rgba(177, 233, 163, 0.57) 18.71%, rgba(255, 255, 255, 0) 100%), radial-gradient(97.26% 15.72% at 97.45% 69.59%, rgba(177, 233, 163, 0.57) 18.71%, rgba(255, 255, 255, 0) 60.6%), radial-gradient(28.16% 8.51% at 47.47% 34.71%, rgba(177, 233, 163, 0.62) 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(38.81% 9.93% at 26.33% 1.09%, rgba(177, 233, 163, 0.57) 1.92%, rgba(255, 255, 255, 0) 65.1%), radial-gradient(29.3% 11.94% at 90.94% 6.62%, rgba(177, 233, 163, 0.57) 0%, rgba(177, 233, 163, 0.57) 31.24%, rgba(255, 255, 255, 0) 97.21%), #A8C790;
    }
    .trainer-modal img {
        display: none;
    }
    .trainer-modal h1 {
        font-size: 38px;
    }
    .trainer-modal h2 {
        font-size: 19px;
    }
    .trainer-modal ul {
        width: 50%;
    }
    .trainer-modal h3 {
        font-size: 19px;
    }
    .trainer-modal {
        width: 93%;
        border-radius: 31px;
        margin: 73px auto 0px;
        height: unset;
    }
    .trainer-modal-title {
        padding: 13px;
        border-radius: 31px 31px 0px 0px;
    }
    .trainer-modal ul {
        font-size: 13px;
    }
    .photo-box {
        max-width: 100%;
    }
    .trainer-modal-content {
        min-height: unset;
        padding: 13px;
    }
    .programs-box:nth-child(4).open {
        max-height: 700px;
    }
    .programs-box:nth-child(4) {
        max-height: 262px;
    }
    .navigation-buttons a:hover:nth-child(1) ~ .naviagtion-buttons-hidden {
        -webkit-transform: translateY(-110%);
            -ms-transform: translateY(-110%);
                transform: translateY(-110%);
                width: 100%;
    }
    .naviagtion-buttons-hidden:hover {
        -webkit-transform: translateY(-110%);
            -ms-transform: translateY(-110%);
                transform: translateY(-110%);
    }
    .naviagtion-buttons-hidden {
        left: 0;
    }
    .programs-content.jc-sb {
        gap: unset;
        row-gap: 20px;
    }
    .addresses-content iframe,
    .addresses-content-links {
        width: 100%;
    }
    .addresses-content.flex {
        -ms-flex-flow: wrap;
            flex-flow: wrap;
    }
    .addresses-content-links {
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1;
        padding:  0px 10px 25px;
    }
    .about-content .btn {
        margin: 19px auto 0px;
    }
    .adr-numb,
    .adr-btn {
        width: 100%;
        text-align: center;
    }
    .adr-btn {
        margin-top: 15px;
    }
    .addresses-content-links ul {
        text-align: center;
        margin-top: unset;
    }
    .about-content.jc-sb {
        gap: unset;
        row-gap:  20px;
    }
    .about-box:nth-child(even) {
        margin-top: unset;
    }
    .addresses-content-links .navigation-social {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
    }

    .navigation-social {
        margin-bottom: 15px;
    }
    .spec-box h1 {
        font-size: 26px;
    }
    .spec-numb {
        font-size: 26px;
    }
}
@media screen and (max-height: 597px) {
    .hamburger-link a:nth-child(5)  {
        display: none;
    }
}

@media screen and (max-width: 375px) {
    .hamburger-menu .navigation-buttons a {
    padding: 10px 11px;}
    .header-title h1 {
        font-size: 27px;
    }

}
@media screen and (max-width: 330px) and (max-height: 590px) {
    .hamburger-menu .navigation-buttons {
        padding: 0 10px;        
    }
    .hamburger-social svg {
        width: 20px;
        height: 20px;
    }
    .hamburger-navigation {
        margin-top: unset;
    }
    .btn {
        font-size: 11px;
    }
    .programs-box {
        padding: 32px 17px 0px 19px;
    }
}